{{!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>College Name</th>
            <th>Email Id</th>
            <th>Mobile Number</th>
            <th>Team Members Name</th>
            <th>Events</th>
            <th>Mode of Transport</th>
            <th>Date of Arrival</th>
            <th>Date of Departure</th>
            <th>Transport Details</th>
        </tr>  
    </thead>
    <tbody>
        <tr>
           <td>{{this.fullName}}</td> 
           <td>{{this.email}}</td> 
           <td>{{this.mobile}}</td> 
           <td>{{this.city}}</td> 
        </tr>
        {{/each}}
    </tbody>
</table> --}}

<h3>Team Name : {{list.teamName}}</h3>
<h3>College Name : {{list.collegeName}}</h3>
<h3>Email Id : {{list.mailId}}</h3>
<h3>Mobile Number : {{list.mobileNumber}}</h3>
<h3>Team Members Name : {{list.teamMembersName}}</h3>
<h3>Events : {{list.events}}</h3>
<h3>Mode of Transport : {{list.transport}}</h3>
<h3>Date of Arrival : {{list.arrivalDate}}</h3>
<h3>Date of Departure : {{list.departureDate}}</h3>
<h3>Transport Details : {{list.transportDetails}}</h3>
<p>Check the details and move to pay</p>
<button>Pay</button>
<button ><a href="../form.html">Change Details</a></button>
{{!-- have to delete the db --}}


